.appkit-form-list {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  flex: none;
  align-self: stretch;
  background: rgba(0,0,0,0.01);
  box-shadow: inset 0 0 1px 0.5px rgba(0,0,0,0.02), inset 0 1px 4px 0 rgba(0,0,0,0.01);
  overflow: hidden;
}

.appkit-form-list-row {
  /* 3.4. Text-based Markers: the list-style-type property */
  list-style-type: none;

  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.85);
  line-height: 16px;

  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: space-between;
  flex: none;
  align-self: stretch;
}

.appkit-form-list-row .left-accessory {
  flex-grow: 1;
}

.appkit-form-list-row .right-accessory {
}

.appkit-form-list-row:not(:last-child):not(:has(+ .appkit-form-list-row-spacing))::after {
  margin-top: 10px;
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  content: "";

  /* Separator */
  background: rgba(0,0,0,0.02);
  border-radius: 0.5px;
}

.appkit-form-list-row:first-child,
.appkit-form-list-row-spacing + .appkit-form-list-row {
  /* Group */
    /* Background Style */
    border-radius: 12px 12px 0 0;

    /* Mask */
    border-top-width: 1px;
}

.appkit-form-list-row:last-child,
.appkit-form-list-row:has(+ .appkit-form-list-row-spacing) {
  /* Group */
    /* Background Style */
    border-radius: 0 0 12px 12px;

    /* Mask */
    border-bottom-width: 1px;
}

.appkit-form-list-row:first-child:has(+ .appkit-form-list-row-spacing),
.appkit-form-list-row-spacing + .appkit-form-list-row:last-child,
.appkit-form-list-row-spacing + .appkit-form-list-row:has(+ .appkit-form-list-row-spacing),
.appkit-form-list-row:only-child {
  /* Group */
    /* Background Style */
    border-radius: 12px;
}

.appkit-form-list-row-spacing {
  /* 3.4. Text-based Markers: the list-style-type property */
  list-style-type: none;

  height: 10px;
}

a.appkit-form-list-row:active,
button.appkit-form-list-row:active {
  /* Group */
    /* Background Style */
    background: rgba(0, 0, 0, 0.05);

  /* Separator */
  box-shadow:       0 -1px rgba(0, 0, 0, 0.05),
              inset 0 -1px rgba(0, 0, 0, 0.02);
}

a.appkit-form-list-row:last-child:active,
a.appkit-form-list-row:has(+ .appkit-form-list-row-spacing):active,
button.appkit-form-list-row:last-child:active,
button.appkit-form-list-row:has(+ .appkit-form-list-row-spacing):active {
  /* Separator */
  box-shadow:       0 -1px rgba(0, 0, 0, 0.05);
}

a.appkit-form-list-row:not(:last-child):not(:has(+ .appkit-form-list-row-spacing)):active::after,
button.appkit-form-list-row:not(:last-child):not(:has(+ .appkit-form-list-row-spacing)):active::after {
  /* Separator */
  background: transparent;
}

.appkit-form-list-row .subtitle {
  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: rgba(0,0,0,0.50);
  line-height: 14px;
}

.appkit-form-list-row input[type="text"],
.appkit-form-list-row input[type="password"],
.appkit-form-list-row input[type="number"] {
  /* Stepper */
    /* Label */
    /* font-family: SFPro-Regular; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.85);
    text-align: right;
    line-height: 16px;

    /* Background */
      /* base */
      /* border: 0.5px solid rgba(0,0,0,0.03); */
      border: none;
      border-radius: 6px;
      padding-top: 2px;
      padding-bottom: 3px;
      background-color: transparent;
      outline-style: none;
}

/* .appkit-form-list-row input[type="password"] {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
} */

.appkit-form-list-row input[type="number"]::-webkit-inner-spin-button {
  /* Stepper */
    /* Control / Stepper */
    margin-left: 3px;
}

.appkit-pop-up-button select {
  appearance: none;

  /* Label */
  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: rgba(0,0,0,0.85);
  line-height: 16px;

  /* Rectangle */
  background-color: transparent;
  border-width: 0;
  border-radius: 6px;
  padding-top: 4px;
  padding-left: 9.5px;
  padding-bottom: 4px;
  padding-right: calc(24px - 4px);
  overflow: hidden;
}

.appkit-pop-up-button select:hover,
.appkit-pop-up-button.active select {
  /* .appkit-button */
  /* base */
  background: rgba(0,0,0,0.05);
}

.appkit-pop-up-button {
  position: relative;
  display: flex;
  align-items: center;
}

.appkit-pop-up-button .indicator {
  margin-left: -24px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  /* Mask */
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background: rgba(0,0,0,0.05);
  overflow: hidden;
}

.appkit-pop-up-button:hover .indicator,
.appkit-pop-up-button.active .indicator {
  background-color: transparent;
}

/* Header */
.appkit-form-list-row-header {
  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-inline-start: 11px;
  margin-inline-end: 11px;
}

/* Footer */
.appkit-form-list-row:has(+ .appkit-form-list-row.footer)::after {
  display: none;
}

.appkit-form-list-row.footer {
  margin: -10px;
  margin-top: 0;
  padding: 0;
  padding-bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  background: rgba(0,0,0,0.05);
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex: none;
  align-self: stretch;
}

.appkit-form-list-row.footer button.add,
.appkit-form-list-row.footer button.remove {
  border: 0;
  padding: 2px 7px 4px;
  position: relative;
  line-height: 16px;
  color: rgba(0,0,0,0.55);
  background-color: transparent;
  font-size: 17px;
}

.appkit-form-list-row.footer button.add:has(+ button.remove)::after {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0;
  width: 1px;
  height: calc(100% - 2 * 2px);
  content: "";

  /* Right Accessory */
    /* Separator */
    /* Sketch */
    /* background: rgba(0,0,0,0.03); */
    /* Digital Color Meter */
    background: rgba(0,0,0,0.099);
}

.appkit-form-list-row.footer button.add:active,
.appkit-form-list-row.footer button.remove:active {
  /* Digital Color Meter */
  color: rgba(0,0,0,0.7);
}

.appkit-form-list-row.footer button.add:disabled,
.appkit-form-list-row.footer button.remove:disabled {
  /* Digital Color Meter */
  color: rgba(0,0,0,0.22);
}
