.appkit-form-list {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  /* gap: 10px; */
  /* padding: 10px; */
  padding: 0;
  flex: none;
  align-self: stretch;
  background: rgba(0,0,0,0.03);
  overflow: hidden;
}

.appkit-form-list-row {
  --padding: 10px;
  padding: var(--padding);
  border-width: 0;
  /* 3.4. Text-based Markers: the list-style-type property */
  list-style-type: none;

  background-color: transparent;

  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.85);
  line-height: 16px;

  /* 7.2. Switching appearance: the appearance property */
  appearance: none;

  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: space-between;
  flex: none;
  align-self: stretch;
}

.appkit-form-list-row .left-accessory,
.appkit-form-list-row .leading {
  flex-grow: 1;
}

.appkit-form-list-row .right-accessory,
.appkit-form-list-row .trailing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0;
  flex: none;
}

.appkit-form-list-row:not(:last-child):not(:has(+ .appkit-form-list-row-spacing))::after {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  display: block;
  position: relative;
  /* bottom: -10px; */
  bottom: calc(-1 * var(--padding));
  height: 1px;
  width: 100%;
  content: "";

  /* Separator */
  background: rgba(0,0,0,0.05);
  border-radius: 0.5px;
}

/* .appkit-form-list-row:first-child, */
/* .appkit-form-list-row-spacing + .appkit-form-list-row { */
  /* Group */
    /* Background Style */
    /* border-radius: 12px 12px 0 0; */

    /* Mask */
    /* border-top-width: 1px; */
/* } */

/* .appkit-form-list-row:last-child, */
/* .appkit-form-list-row:has(+ .appkit-form-list-row-spacing) { */
  /* Group */
    /* Background Style */
    /* border-radius: 0 0 12px 12px; */

    /* Mask */
    /* border-bottom-width: 1px; */
/* } */

.appkit-form-list-row:first-child:has(+ .appkit-form-list-row-spacing),
.appkit-form-list-row-spacing + .appkit-form-list-row:last-child,
.appkit-form-list-row-spacing + .appkit-form-list-row:has(+ .appkit-form-list-row-spacing),
.appkit-form-list-row:only-child {
  /* Group */
    /* Background Style */
    border-radius: 12px;
}

.appkit-form-list-row-spacing {
  /* 3.4. Text-based Markers: the list-style-type property */
  list-style-type: none;

  height: 10px;
}

a.appkit-form-list-row:active,
button.appkit-form-list-row:active {
  /* Group */
    /* Background Style */
    background: rgba(0, 0, 0, 0.05);

  /* Separator */
  box-shadow:       0 -1px rgba(0, 0, 0, 0.05),
              inset 0 -1px rgba(0, 0, 0, 0.02);
}

a.appkit-form-list-row:last-child:active,
a.appkit-form-list-row:has(+ .appkit-form-list-row-spacing):active,
button.appkit-form-list-row:last-child:active,
button.appkit-form-list-row:has(+ .appkit-form-list-row-spacing):active {
  /* Separator */
  box-shadow:       0 -1px rgba(0, 0, 0, 0.05);
}

a.appkit-form-list-row:not(:last-child):not(:has(+ .appkit-form-list-row-spacing)):active::after,
button.appkit-form-list-row:not(:last-child):not(:has(+ .appkit-form-list-row-spacing)):active::after {
  /* Separator */
  background: transparent;
}

.appkit-form-list-row .subtitle {
  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: rgba(0,0,0,0.50);
  line-height: 14px;
}

.appkit-form-list-row input[type="text"],
.appkit-form-list-row input[type="password"],
.appkit-form-list-row input[type="number"] {
  /* Stepper */
    /* Label */
    /* font-family: SFPro-Regular; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.85);
    text-align: right;
    line-height: 16px;

    /* Background */
      /* base */
      /* border: 0.5px solid rgba(0,0,0,0.03); */
      border: none;
      border-radius: 6px;
      padding: 0;
      background-color: transparent;
      outline-style: none;
}

/* .appkit-form-list-row input[type="password"] {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
} */

.appkit-form-list-row input[type="number"]::-webkit-inner-spin-button {
  /* Stepper */
    /* Control / Stepper */
    margin-left: 3px;
}

.appkit-pop-up-button select,
.appkit-pop-up-button-select {
  appearance: none;

  /* Label */
  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: rgba(0,0,0,0.85);
  line-height: 16px;

  /* Rectangle */
  background-color: transparent;
  border-width: 0;
  border-radius: 6px;
  padding-top: 4px;
  padding-left: 12px;
  padding-bottom: 4px;
  padding-right: calc(18px + 7px);
  overflow: hidden;

  cursor: default;
}

.appkit-pop-up-button select:hover,
.appkit-pop-up-button-select:hover,
.appkit-pop-up-button.active select,
.appkit-pop-up-button-select.active {
  /* .appkit-button */
  /* base */
  background: rgba(0,0,0,0.05);
}

.appkit-pop-up-button {
  position: relative;
  display: flex;
  align-items: center;
}

.appkit-pop-up-button .indicator {
  margin-left: calc(-18px - 7px);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  /* Mask */
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background: rgba(0,0,0,0.05);
  overflow: hidden;
}

.appkit-pop-up-button-select::after {
  content: "";
  display: inline-block;
  background: url('data:image/svg+xml;utf8,<svg width="7.23831177px" height="10.389328px" viewBox="0 0 7.23831177 10.389328" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-opacity="0.85"><g fill="%23000"><path d="M3.621,0c.108,0,.21.022.306.066.096.044.188.109.276.196l2.785,2.668c.072.073.131.154.178.242.047.088.07.186.07.295,0,.214-.073.39-.22.529-.147.139-.317.209-.51.209-.093,0-.185-.017-.277-.05-.092-.033-.179-.087-.261-.162L3.621,1.689.267,4.093c-.079.078-.166.133-.259.165-.093.032-.185.048-.275.048-.194,0-.365-.07-.513-.209C-.048,4.48-.122,4.304-.122,4.09c0-.109.023-.207.07-.295.047-.088.106-.169.178-.242L2.915.262c.089-.087.181-.152.276-.196C3.411.022,3.513,0,3.621,0Zm0,10.389c-.111,0-.214-.021-.309-.065-.095-.044-.187-.109-.276-.196L.267,7.46c-.072-.073-.131-.154-.178-.242-.047-.088-.07-.186-.07-.294,0-.214.074-.391.221-.53.148-.139.319-.209.513-.209.09,0,.182.016.275.048.093.032.18.087.259.166l3.354,2.404,2.35-2.404c.082-.076.169-.131.261-.164.092-.033.184-.05.277-.05.193,0,.363.07.51.209.147.139.22.316.22.53,0,.108-.023.206-.07.294-.047.088-.106.169-.178.242l-2.785,2.668c-.089.087-.181.152-.276.196-.095.044-.198.065-.309.065Z" fill-rule="nonzero"/></g></g></svg>'), rgba(0,0,0,0.05);
  background-size: 7.23831177px 10.389328px;
  background-repeat: no-repeat;
  vertical-align: middle;

  /* Mask */
  width: 18px;
  height: 18px;
  /* background: rgba(0,0,0,0.05); */
  overflow: hidden;
}

.appkit-pop-up-button:hover .indicator,
.appkit-pop-up-button.active .indicator {
  background-color: transparent;
}

/* :host([disabled]) {
  pointer-events: none;
} */

appkit-switch {
  display: inline-block;
  line-height: 0;
}

/* Header */
.appkit-form-list-row-header {
  /* font-family: SFPro-Regular; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-inline-start: 11px;
  margin-inline-end: 11px;
}

/* Footer */
.appkit-form-list-row:has(+ .appkit-form-list-row.footer)::after {
  display: none;
}

.appkit-form-list-row.footer {
  /* margin: -10px; */
  margin-top: 0;
  padding: 0;
  padding-bottom: 0;
  border-top: 0.5px solid rgba(0,0,0,0.05);
  background: rgba(0,0,0,0.029);
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex: none;
  align-self: stretch;
}

.appkit-form-list-row.footer button.add,
.appkit-form-list-row.footer button.remove {
  border: 0;
  padding: 2px 7px 4px;
  position: relative;
  line-height: 16px;
  color: rgba(0,0,0,0.55);
  background-color: transparent;
  font-size: 17px;
}

.appkit-form-list-row.footer button.add:has(+ button.remove)::after {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: calc(100% - 2 * 3px);
  content: "";

  /* Right Accessory */
    /* Separator */
    /* Sketch */
    /* background: rgba(0,0,0,0.03); */
    /* Digital Color Meter */
    background: rgba(0,0,0,0.0625);
}

.appkit-form-list-row.footer button.add:active,
.appkit-form-list-row.footer button.remove:active {
  /* Digital Color Meter */
  color: rgba(0,0,0,0.7);
}

.appkit-form-list-row.footer button.add:disabled,
.appkit-form-list-row.footer button.remove:disabled {
  /* Digital Color Meter */
  color: rgba(0,0,0,0.22);
}
