.appkit-sheet {
  /* Margins */
  padding: 20px;

  /* Inner Shadow */
  box-shadow: inset 0 0 3px 0 rgba(255,255,255,0.10);
  border-radius: 10px;

  /* Fill */
  background: #FFFFFF;
  border-radius: 10px;

  /* Shadow */
  background: #FFFFFF;
  /* box-shadow: 0 8px 40px 0 rgba(0,0,0,0.25), 0 0 3px 0 rgba(0,0,0,0.55); */
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25), 0 0 1.5px 0 rgba(0,0,0,0.55);
  border-radius: 10px;

  /* Animation */
  opacity: 0;
  animation: appkit-fadeInTop 0.32s cubic-bezier(0.4, 0, 0.6, 1) 0.16s forwards;

  border-style: none;
  overflow: hidden;
}

.appkit-sheet:has(.sidebar):not(:has(form)),
.appkit-sheet:has(.sidebar) form {
  display: grid;
  grid-template-columns: 200px 1fr;

  /* Margins */
  padding: 0;

  /* Sidebar */
  background: rgba(246,246,246,0.84);
  backdrop-filter: blur(30px) saturate(200%);
}

dialog.appkit-sheet:has(.sidebar):not([open]) {
  display: none;
}

.appkit-sheet:has(.sidebar) .sidebar {
  /* Margins */
  padding: 20px;
}

.appkit-sheet:has(.sidebar) .content-area::before {
  display: block;
  position: absolute;
  top: -20px;
  left: -1px;
  width: 1px;
  height: calc(100% + 2 * 20px);
  content: "";

  /* Divider Edge */
  background: rgba(0,0,0,0.10);
  box-shadow: -0.5px 0 0.25px rgba(0,0,0,0.05);
}

.appkit-sheet:has(.sidebar) .content-area {
  /* Margins */
  /* padding: 20px; */

  /* Content Area */
  background: #FFFFFF;

  position: relative;
  display: flex;
  flex-direction: column;
}

.appkit-sheet .scroll-view {
  flex-grow: 1;
}

.appkit-sheet .scroll-view,
.appkit-sheet .confirmation-buttons {
  /* Margins */
  padding: 20px;
}

.appkit-sheet .confirmation-buttons {
  /* background: rgba(0,0,0,0.03); */
  /* border-radius: 0.5px; */
  border-top: 1px solid rgba(0,0,0,0.03);
}