.appkit-sheet {
  /* Margins */
  padding: 20px;

  /* Inner Shadow */
  box-shadow: inset 0 0 3px 0 rgba(255,255,255,0.10);
  border-radius: 10px;

  /* Fill */
  background: #FFFFFF;
  border-radius: 10px;

  /* Shadow */
  background: #FFFFFF;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.70), 0 18px 60px 0 rgba(0,0,0,0.30);
  border-radius: 20px;

  /* Animation */
  opacity: 0;
  animation: appkit-fadeInTop 0.32s cubic-bezier(0.4, 0, 0.6, 1) 0.16s forwards;

  border-style: none;
  overflow: hidden;
}

.appkit-sheet:has(form) {
  /* Margins */
  padding: 0;
}

.appkit-sheet:has(.sidebar),
.appkit-sheet:has(.sidebar) form {
  /* Margins */
  padding: 0;

  /* Sidebar */
  background: rgba(246,246,246,0.84);
  backdrop-filter: blur(30px) saturate(200%);
}

.appkit-sheet:has(.sidebar):not(:has(form)),
.appkit-sheet:has(.sidebar) form {
  display: grid;
  grid-template-columns: 200px 1fr;
}

dialog.appkit-sheet:has(.sidebar):not([open]) {
  display: none;
}

.appkit-sheet > form {
  position: absolute;
  width: 100%;
  height: 100%;
}

.appkit-sheet:has(.sidebar) .sidebar {
  /* Margins */
  padding: 20px;
}

.appkit-sheet:has(.sidebar) .content-area::before {
  display: block;
  position: absolute;
  top: -20px;
  left: -1px;
  width: 1px;
  height: calc(100% + 2 * 20px);
  content: "";

  /* Divider Edge */
  background: rgba(0,0,0,0.10);
  box-shadow: -0.5px 0 0.25px rgba(0,0,0,0.05);
}

.appkit-sheet .toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 8px;
  flex: none;
  align-self: stretch;
  overflow: hidden;
}

.appkit-sheet .toolbar .button-group,
.appkit-button-group {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  /* padding: 0 4px; */
  flex: none;
  background: rgba(255,255,255,0.05);
  /* box-shadow: inset 0 1.5px 0.5px -0.5px rgba(255,255,255,0.07), inset 0 -1.5px 0.5px -0.5px rgba(0,0,0,0.07), 0 0 0 0.5px rgba(0,0,0,0.17); */
  /* Toolbars/X/Shadow */
    backdrop-filter: blur(75px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  overflow: hidden;
}

.appkit-sheet .toolbar .button-group button,
.appkit-button-group button {
  padding: 4px;
  border: none;
  position: relative;
  height: 36px;
  min-width: 36px;
  background-color: transparent;
  /* font-family: SFPro-Medium; */
  font-family: "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* font-weight: medium; */
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 14px;
  color: #4C4C4C;
  text-align: center;
  appearance: none;
  border-radius: 100px;
}

.appkit-sheet .toolbar .button-group button i,
.appkit-button-group button i {
  font-size: 20px;
}

.appkit-sheet .toolbar .button-group button:not(:has(i)),
.appkit-button-group button:not(:has(i)) {
  padding-left: 8px;
  padding-right: 8px;
}

.appkit-sheet .toolbar .button-group button.primary,
.appkit-button-group button.primary {
  /* Digital Color Meter */
  /* Measured */
  /* color: rgba(0, 109, 238, 1.00); */
  /* Actual */
  color: rgba(0, 120, 241, 1.00);
}

.appkit-sheet .toolbar .button-group button::after,
.appkit-button-group button::after {
  position: absolute;
  top: 4px;
  left: 4px;
  content: "";
  width: calc(100% - 2 * 4px);
  height: calc(100% - 2 * 4px);
  border-radius: 100px;
}

.appkit-sheet .toolbar .button-group button:only-child::after,
.appkit-button-group button:only-child::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.appkit-sheet .toolbar .button-group button:hover::after,
.appkit-button-group button:hover::after {
  background-color: rgba(0, 0, 0, 0.05);
}

.appkit-sheet .toolbar .button-group button:active::after,
.appkit-button-group button:active::after {
  background-color: rgba(0, 0, 0, 0.1);
}

.appkit-sheet .content-area {
  /* Margins */
  /* padding: 20px; */

  /* Content Area */
  height: 100%;
  background: #FFFFFF;

  position: relative;
  display: flex;
  flex-direction: column;
}

.appkit-sheet .scroll-view {
  position: relative;
  overflow: scroll;
  flex-grow: 1;
  overscroll-behavior: contain;
}

.appkit-sheet .scroll-view::before {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 1px;
  height: calc(100% + 20px + 0.5px);
  content: "";
}

.appkit-sheet .scroll-view::-webkit-scrollbar {
  display: none;
}

.appkit-sheet .scroll-view,
.appkit-sheet .confirmation-buttons {
  /* Margins */
  padding: 20px;
}

.appkit-sheet .confirmation-buttons {
  /* background: rgba(0,0,0,0.03); */
  /* border-radius: 0.5px; */
  border-top: 1px solid rgba(0,0,0,0.03);
}