.appkit-sidebar {
  /* width: 240px; */
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  /* align-items: center; */
  justify-content: start;
  flex: 1;
  background: rgba(255,255,255,0.70);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), inset 2px 2px 0.25px -1.5px rgba(255,255,255,0.70), /* inset 1px 1px 2px 0 #1A1A1A, inset -1px -1px 2px 0 #1A1A1A, inset 0 0 8px 1px rgba(0,0,0,0.20), */ 0 0 25px 0 rgba(0,0,0,0.16);
  border-radius: 18px;
}

.appkit-sidebar * {
  /* 5.1. Pointer interaction */
  cursor: default;

  /* 6.1. Controlling content selection */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.appkit-sidebar-list-section-title {
  margin-block-start: 13px;
  margin-block-end: 5px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;

  /* Section */
  opacity: 0.75;
  /* font-family: SFPro-Semibold; */
  font-family: "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* font-weight: semibold; */
  font-weight: 600;
  font-size: 11px;
  color: #808080;
  line-height: 14px;
}

.appkit-sidebar-list-item {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
}

.appkit-sidebar-list-item .left-accessory,
.appkit-sidebar-list-item .leading {
  flex-grow: 1;
}

.appkit-sidebar-list-item .right-accessory,
.appkit-sidebar-list-item .trailing {
}

.appkit-sidebar-list-item .icon,
.appkit-sidebar-list-item input[type="checkbox"] {
  display: inline-block;
  margin-block-start: 4px;
  margin-block-end: 4px;
  /* margin-inline-start: 6px; */
  /* margin-inline-end: 6px; */
  margin-inline-start: 9px;
  margin-inline-end: 9px;
  width: 13px;

  /* Tint */
  color: #0070F5;
    /* Symbol */
    /* font-family: SFPro-Regular; */
    font-family: "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: normal;
    font-size: 13px;
    /* color: #000000; */
    text-align: center;
}

.appkit-sidebar-list-item .label {
  display: inline-block;
  margin-block-start: 6px;
  margin-block-end: 6px;
  /* margin-inline-start: 6px; */
  /* margin-inline-end: 6px; */
  margin-inline-start: 9px;
  margin-inline-end: 9px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* Label */
  /* font-family: SFPro-Regular; */
  font-family: "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #4C4C4C;
  line-height: 16px;
}

.appkit-sidebar-list-item .icon + .label,
.appkit-sidebar-list-item input[type="checkbox"] + .label {
  margin-inline-start: 0px;
}

.appkit-sidebar-list-item.selected {
  /* width: 220px; */
  height: 24px;
  /* opacity: 0.5; */
  /* background: rgba(0,0,0,0.11); */
  background: rgba(0,0,0,0.055);
  border-radius: 8px;
}

.appkit-sidebar-list-item.disabled,
.appkit-sidebar-list-item.disabled * {
  color: #BFBFBF;
  pointer-events: none;
}

ol .appkit-sidebar-list-item:first-child,
a:first-child:has(> .appkit-sidebar-list-item) {
  margin-block-start: 15px;
}

ol .appkit-sidebar-list-item:last-child,
a:last-child:has(> .appkit-sidebar-list-item) {
  margin-block-end: 15px;
}
